@model UserInfo.Entities.User
@{
}

<h2>User Details</h2>
<p><strong>Name:</strong> @Model.Name</p>
<p><strong>Surname:</strong> @Model.Surname</p>
<p><strong>Image:</strong> <img src="@Model.Image" alt="User Image" style="width:100px;" /></p>
<p><strong>Age:</strong> @Model.Age</p>
<a href="/Users/Index">Back to List</a>
